<!-- css -->
{% load static %}
<!--всё для меню ниже-->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" defer></script>

<link rel="stylesheet" href="{% static 'css/menu.css' %}">

<!--  Menu -->
<input type="checkbox" class="toggler">
<div class="hamburger">
    <div></div>
</div>
<div class="menu">
    <div>
        <ul>
            <li><a href="{% url 'home' %}"><i data-feather="home"></i> Главная</a></li>
            <li><a href="{% url 'about' %}"><i data-feather="info"></i> О нас</a></li>
            <li><a href="{% url 'contacts' %}"><i data-feather="share-2"></i> Контакты</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'documents' %}"><i data-feather="file-text"></i> Документы</a></li>
            <li><a href="{% url 'profile' %}"><i data-feather="user"></i> Профиль</a></li>
            <li><a href="{% url 'logout' %}"><i data-feather="log-out"></i> Выйти</a></li>
            {% else %}
            <li><a href="{% url 'register' %}"><i data-feather="user-plus"></i> Регистрация</a></li>
            <li><a href="{% url 'login' %}"><i data-feather="user-check"></i> Авторизация</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        feather.replace();
    });
</script>
<script src='https://unpkg.com/feather-icons' defer></script>